@using Domain.Constants;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole(Roles.Administrator))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Users" asp-action="Index">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Requests" asp-action="Index">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Equipments" asp-action="Index">Equipments</a>
            </li>
        }
    }
</ul>